
body {
 background:linear-gradient(to right, black 10%, purple 50%,blue 90%);
 color: #f5f5f5;
 font-family: "Poppins", sans-serif;
 display: flex;
 justify-content: center;
 align-items: flex-start;
 padding: 32px;
 min-height: 800px;
}


/* Containers */
h1, h4 {
 font-size: 38px;
 text-align: center;
 color: #00c3ff;
 /*text shadow glowing*/
 text-shadow: 0 0 15px #af00f4;
 margin-bottom: 16px;
}


h2 {
 color: #6a00f4;
 text-align: center;
 margin-top: 48px;
}

button {
align-items: center;
 background: linear-gradient(90deg, #6a00f4, #b300ff);
 color: #fff;
 border: none;
 border-radius: 8px;
 padding: 13px 24px;
 margin: 16px 0;
 cursor: pointer;
 font-size: 16px;
 transition: all 0.3s ease;
}

button:hover {
 transform: scale(1.05);
 box-shadow: 0 0 15px #b300ff;
}

ul {
 list-style: none;
 padding: 0;
 margin-top: 32px;
 display: flex;
 flex-direction: column;
 gap: 24px;
 max-width: 700px;
 margin-left: auto;
 margin-right: auto;
}

li {
 background: #1a1a1a;
 padding: 19px;
 border-radius: 12px;
 box-shadow: 0 0 15px rgba(179, 0, 255, 0.3);
 transition: 0.3s ease;
}

li:hover {
 box-shadow: 0 0 25px rgba(179, 0, 255, 0.6);
 transform: translateY(-4px);
}

form {
 background: #111;
 padding: 32px;
 border-radius: 15px;
 max-width: 600px;
 margin: 32px auto;
 box-shadow: 0 0 25px rgba(106, 0, 244, 0.3);
 
}

label {
 display: block;
 font-weight: 500;
 margin-bottom: 8px;
 color: #ddd;
}

input,
select {
 width: 100%;
 padding: 11px;
 margin-bottom: 19px;
 border: 1px solid #333;
 border-radius: 8px;
 background: #1a1a1a;
 color: #fff;
 font-size: 16px;
 transition: 0.2s ease;
}

input:focus,
select:focus {
 border-color: #b300ff;
 outline: none;
 box-shadow: 0 0 10px #6a00f4;
}




